
* {
    box-sizing: border-box;
}

/* Global styles */

/* Gotta work out how to make the button-area limited to the button itself
set id="link-button on buttons for it to be universal.
#link-button { 
    display: block;
    width: 100%;
    height: 100%;
}
*/

    /* Body - global */
body {
    overflow: overlay;
    margin: 0px;
    background: white;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'aside'
    'footer';
}

.body_productpage{
    background-image: linear-gradient(RGB(16, 33, 50), RGB(36, 65, 107));
}

.body_checkout{
    background: #474747;    
}

    /* Header - global */
header{
    background: orange;
    max-width: 100%;
}
.gamehub-logo_banner{
    display: block;
}


    /* Main / Aside - global */

main, aside{
    margin-left: 15%;
    margin-right: 15%;
}


    /* Footer - global */

footer {
    background: lightgray;   
}
.social_media_buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 10px; 
  }

.footer_copyright_paragraph{
    margin: 40px 20px;
    font-size: 16px;
    text-align: left;
}
.footer_policy{
    margin: 40px 10px;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    color: black;
}


    /* Headers - Global */

.h1_about, .h1_contact, .h1_productpage, .h1_mypage, .h2_mypage{
    text-align: center;
}


.h1_checkout, .h2_checkout, .h1_productpage{
    color: white;
}

.h1_checkout, .h1_cart, .h2_cart, .h3_cart{
    font-size: 2em;
}

.h2_checkout{
    font-size: 1em;
}

.h2_cart, .h3_cart{
    display: inline-block;
    
}

    /* Form & Fieldseth - Global */




    /* Buttons - Global */

.button{
    display: block;
    border: none;
    color: white;
    padding: 0.7em 1em;
    width: 450px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0 auto;
    cursor: pointer;
}

.button:hover{
    transition-duration: 0.4s;
}


.button_buynow{
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}
    .button_buynow:hover{
        background-color: darkorange;
    }
    .button_buynow:active{
        background-color: #7CCB83;
        color: white;
    }

.button_wishlist{
    background-color: lightgray;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
    .button_wishlist:hover{
        background-color: rgba(211, 211, 211, 0.769);
    }
    .button_wishlist:active{
        background-color: #7CCB83;
        color: white;
    }

.button_proceedtocheckout, .button_confirm-order_checkout{
    background-color: #7CCB83;
}
    .button_proceedtocheckout:hover, .button_confirm-order_checkout:hover{
        background-color: #56955b;
    }


/* Index - Global */

.main_index{
    margin-top: 50px;
    margin-bottom: 50px;
}




/* Cart - Global */

.products_cart{

}

.products_cart > .h1_cart{
    padding: 20px 0;
}

.product1_cart{
    display: flex;
    margin-bottom: 20px;
}

.productpicture_cart{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
}


.productpicture_cart:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.productpicture_cart > img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.productpicture_cart > img:hover{
    opacity: 0.5;
}

.product-info{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 70px 20px auto;
    grid-gap: 20px;
    padding: 0 20px;

}

.product-name, .product-platform, .product-price{
    font-size: 20px;
}

.product-name{
    grid-row: 1;
}

.product-platform{
    grid-row: 2;
}

.product-price{
    grid-row: 2;
    grid-column: end;
}

.product-quantity{
    grid-row: 3;
}

.product-remove{
    grid-row: 1;
    grid-column: end;
}

.product-remove{ /* Må fikses */
    padding: 10px 25px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
    .product-remove:hover{
        background-color: white;
        color: red;
        font-weight: 500;
        border: 1px solid red;
}

.product-quantity > input{
    width: 30px;
    padding: 5px;
    text-align: center;
}

.sumsubtotal, .sumtotal_cart{
    float: right;
    font-size: 20px;
}


/* Checkout - Global */

.header-and-logo_checkout{
    width: 100%;
    display: flex;
}

.fa-cart-shopping{
    position: relative;
    top: 32px;
    padding-left: 50px;
    color: white;
}

.main_container_checkout{   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 200px;
}

.card_options_checkout{
    display: inline-block;
    padding: 5px 20px 15px 0;
}

.main_checkout_input-text_style{
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
}

.main_checkout_input-field_style{
    font-size: 22px;
    padding: 5px 0px 5px 0;
    border-radius: 5px;

}

.fieldset_checkout{
    border: 0;
}


.form__input_checkout{
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 50px 0;
}


/* My Page - Global */


.login_input-field_style{
    display: block;
    font-size: 22px;
    padding: 5px 0px 5px 0;
    border-radius: 5px;
    margin: 0 auto 20px auto;
}

.login_input-field_style::placeholder {
    color: black;
    font-size: 16px;
    padding-left: 10px;
}

.button_login{
    background-color: orange;
    width: 270px;
}

.fieldset_mypage{
    border: none; 
}

.login-container_mypage{
    display: block;
}



/* About - Global */

.pic1_about{
    max-width: 40%;
    max-height: 40%;
    float: left;
}

.pic2_about{
    max-width: 40%;
    max-height: 40%;
    float: right;
}

/* Contact - Global */

.pic1_contact{
    max-width: 40%;
    max-height: 40%;
    float: left;
}

.pic2_contact{
    max-width: 40%;
    max-height: 40%;
    float: right;
}



/* Mobile and currently tablet (reason for high max-width) Styles */
@media only screen and (max-width: 799px){

    header{
        height: 5vh;
    }
    .ul_header_desktop{
        display: none;
    }

}



/* Desktop Styles */
@media only screen and (min-width: 800px){
    
    /* Header - Desktop */
    header {
        height: 12vh;

    }   
    .gamehub-logo_banner{
        margin: 20px auto;
        max-width: 350px;
    }


    .ul_header_desktop{
        display: flex;
        list-style: none;
        overflow: hidden;
        justify-content: center;
        align-items: center;    
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: orange;   
    }
    
    li a{
        float: left;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
    
    li a:hover:not(.active) {
        transition: color 0.2s ease-in-out;
        color: white;
      }
    
    li a.active{
        background-color: white;
        border-radius: 5px;
        padding: 8px 16px;
    }

    .form_searchbar_banner {
        display: flex;
        border: none;
        color: #555;
        border: 1px solid gray;
        border-radius: 5px 0 0 5px;
      }

        input[type="search"] {
        display: block;
        border: none;
        margin: 0;
        padding: 7px 8px;
        font-size: 14px;
        border-radius: inherit;
      }
    
      button[type="submit"] {
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        padding: 0;
        margin: 0;
        border: 2px;
        border-radius: 0 5px 5px 0;
        background: white url("/images/global_images/navigation_icons_header/searchicon.svg") no-repeat center;
        background-size: 50%;
      }

      /* Index-page */

        /* Main - Desktop - Index */
    .main_pictures_container_index{
        display: grid;
        grid-template-columns: 4fr 1fr; /* Adjust main/side-picture size/grid-sizing in main */
        cursor: pointer;
    }
        
    .main_highlighted_picture_index {
        grid-column-start: 1;
        grid-column-end: 2;
        max-width: 100%;
        max-height: 100%;
    }
    
    .main_game_icons_index {
        grid-column-start: 2;
        grid-column-end: 3;
        display: grid;
        max-width: 100%;
        max-height: 50%;
    }

    .main_game_icons_index:hover:not(.active){
        background-color: lightgray;
        border-radius: 10px;
    }

        /* Aside - Desktop - Index */
    aside{
        margin-bottom: 50px;
        cursor: pointer;
    }

    .h1_index, .h2_index{
        text-transform: uppercase;
        font-size: 20px;
        }
        
    .h2_index{
        margin-top: 50px;
    }
    .aside_games_index {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto auto auto;
        max-width: 100%;
        max-height: 100%;
    }


    /* Productpage-page */

        /* Main - Desktop - Productpage */

    .mainpicture_productpage{
        display: block;
        margin: auto auto;
        width: 700px;
      }

    .h1_productpage{
        text-transform: uppercase;
        margin: 30px;
    }

    .gameedition_buttons_productpage{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        grid-gap: 2em;
        color: white;
    }

    .used_productpage{
        grid-column-start: 2;
        grid-column-end: 2;
        height: 80%;
    }

    .standard_productpage{
        grid-column-start: 3;
        grid-column-end: 3;
        height: 80%;
    }

    .deluxe_productpage{
        grid-column-start: 4;
        grid-column-end: 4;
        height: 80%;
    }


    .game_info_productpage{
        color: white;
        font-size: 2em;
    }

    .paragraph-left_productpage{
        text-align: left;
    }

    .paragraph-right_productpage{
        text-align: right;
    }

}







header{grid-area: header;}
main{grid-area: main;}
aside{grid-area: aside;}
footer{grid-area: footer;}