


body {
    margin: 0px;
    background: white;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'aside'
    'footer';
}


.body_checkout{
    grid-gap: 1em;
    background: #474747;    

}

header {
    background: orange;
    max-width: 100%;
    height: 12vh;
    background-image: url(/images/global\ images/navigation_icons_header/gamehub-logo-text.png);
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: center;
}   

.ul_header{
    display: block;
    margin-top: 85px;
    list-style: none;
    overflow: hidden;
    background-color: orange;
    
    
}

li a{
    float: left;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s ease-in-out;
}

li a:hover:not(.active) {
    background-color: darkorange;
  }

li a.active{
    background-color: white;

}




main{
    

}

.main_index{    
    margin-top: 30px;
    margin-bottom: 30px;
}

.main_about{
    margin-left: 15%;
    margin-right: 15%;
}

.main_contact{
    margin-left: 15%;
    margin-right: 15%;
}

.main_checkout{
    margin-left: 3%;
    margin-right: 3%;
    height: 50vh;
}

.fieldset_searchbar_main{
    border: none;
    display: flex;
    justify-content: center;

}

.input_searchbar_main_style{
    border: 2px solid orange;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
    width: 40%;
    height: 35px;
    margin-top: 10px;
    transition: width 0.4s ease-in-out;
}

.input_searchbar_main_style:focus{
    border: 2px solid darkorange;
}

.h1_index, .h2_index{
margin-left: 10px;
text-transform: uppercase;
font-size: 18px;

}

.h1_about{
    text-align: center;
}

.h1_contact{
    text-align: center;
}

.h1_checkout{
    color: white;
    text-transform: uppercase;
    font-size: 22px;
}


.h2_checkout{
    color: white;
    font-size: 12px;
}

.card_options_checkout{
    max-width: 30%;
    height: auto;
}

.main_checkout_input-text_style{
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
}

.main_checkout_input-field_style{
    background: lightgray;
    border-radius: 10px;
    max-width: 100%;
    max-height: 20%;
}

.fieldset_checkout{
    border: 0;
}

.fieldset_submit_checkout{
    background: #7CCB83;
    border-radius: 10px;
    max-width: 30%;
    max-height: 100%;
    text-align: center;
    margin: auto;
    border: none;  
}

.form__input_checkout{
    display: block;
    box-sizing: border-box;
    width: 100%;
}


.main_container_checkout{   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;

}



.pic1_about{
    max-width: 40%;
    max-height: 40%;
    float: left;
}

.pic1_contact{
    max-width: 40%;
    max-height: 40%;
    float: left;
}

.main_sub_title_about{

}

.main_sub_title_contact{

}

.pic2_about{
    max-width: 40%;
    max-height: 40%;
    float: right;
}

.pic2_contact{
    max-width: 40%;
    max-height: 40%;
    float: right;
}

.main_pictures_container_index{
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.main_highlighted_picture_index {
    grid-column-start: 1;
    grid-column-end: 2;
    max-width: 100%;
    max-height: 100%;
}

.main_game_icons_index {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    max-width: 100%;
    max-height: 50%;
    margin-right: auto;
    
}

.pic_positioning_main{
    position: relative;
    left: 15%;
}

.pic_positioning_side{
    position: relative;
    left: 30%;
    transition: background-color 0.2s ease-in-out;
}

.pic_positioning_side:hover:not(.active) {
    background-color: lightgray;
  }


.pic_positioning_side.active{

} 

.main_game_icon_select1{
    
}


.aside_games_index {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto auto auto;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.aside_index{
    margin-bottom: 30px;
}


footer {
    background: lightgray;
}

.footer_index{

}

.footer_about{

}

 .social_media_buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 10px; 
  }

.hr_line{
}

.footer_copyright_paragraph{
    margin: 40px 20px;
    font-size: 12px;
    text-align: left;
}

.footer_policy{
    margin: 40px 10px;
    text-decoration: none;
    font-size: 15px;
    text-align: left;
    color: black;
}

header{grid-area: header;}
main{grid-area: main;}
aside{grid-area: aside;}
footer{grid-area: footer;}